body{
    background-color: #f3a750; 
    font-family: 'Sour Gummy';
}

h1{
    text-align: center;
    font-size: 7rem;
    margin-top: 10px;
    text-shadow: 2px 3px 5px grey;
}

.grid-item {
    background-color: rgb(241, 204, 104);
    border: 3px 3px 3px 3px solid #a7a7a7;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px grey;
    
}

.grid-item:hover{
    background-color: rgb(240, 191, 57);
}

.grid-item img {
    width: 80%; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
}




/*Hiding the timerCountdown*/

#timerContainer{
    display: none;
    text-align: center;
    font-family: 'Sour Gummy';
}

#timerCountdown{
    font-size: 5rem;
    text-shadow: 2px 3px 5px grey;
}

#resetBtn{
    text-shadow: 2px 1px grey;
    box-shadow: 2px 2px 5px grey;
    width: 25%;
    margin: 0 auto;
}






/* Fonts */
@font-face {
    font-family: 'Sour Gummy';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/sourgummy/v1/8At5Gs2gPYuNDii97MjjBrLbYfdJvDU5AZfP5qBDfNE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }